# .gitignore pour .NET
[Bb]in/
[Oo]bj/
.vscode/
.devcontainer/local-settings.json
*.user
*.suo
*.db
# Sauf le dossier .devcontainer spécifique
!.devcontainer/devcontainer.json
wwwroot/js/main.js
wwwroot/js/*.map